body {
  font-family: DotGothic16, sans-serif;
  font-size: 16px;
}

#color-palette {
  padding: 10px;
  display: table;
}

.color {
  border: solid 1px black;
  width: 40px;
  height: 40px;
  float: left;
}

#color1 {
  background-color: black;
}

#clear-board {
  margin-top: 50px;
  padding: 5px;
  clear: both;
}

#pixel-board {
  margin-top: 50px;
  display: table;
}

.pixel-row {
  display: row;
  border: solid 1px black;
  height: 40px;
}

.pixel {
  display: table-cell;
  border: solid 1px black;
  width: 40px;
  height: 40px;
  background-color: white;
}

#board-size {
  width: 70px;
  height: 20px;
  font-size: 20px;
  display: inline-block;
}

#generate-board {
  width: 100px;
  display: inline-block;
}
