#color-palette {
  display: flex;
  gap: 5px;
}

.color {
  border: solid 1px black;
  width: 40px;
  height: 40px;
}

#black {
  background-color: black;
}

#blue {
  background-color: blue;
}

#green {
  background-color: green;
}

#yellow {
  background-color: yellow;
}

.white {
  background-color: white;
}

#pixel-board {
  display: table;
  margin-top: 5px;
}

.tr {
  display: table-row;
}

.pixel {
  display: table-cell;
  width: 40px;
  height: 40px;
  border: solid 1px black;
  background-color: white;
}

#clear-board {
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
}

#generate-board {
  border-radius: 5px;
}

#board-size {
  margin-top: 10px;
}
