.color {
  width: 50px;
  height: 50px;
  border: 1px;
  border-style: solid;
  display: inline-block;
  cursor: pointer;
}

.pixel {
  width: 40px;
  height: 40px;
  border: 1px;
  border-style: solid;
  background-color: white;
}

#pixel-board {
  display: inline-block;
  cursor: pointer;
}
