#title {
  text-align: center;
}

#color-palette {
  margin-left: 500px;
}

#color-palette :nth-child( 1 ) {
  background-color: black;
  color: black;
  border: solid 1px black;
  display: inline-block;
  height: 75px;
  width: 75px;
}

#color-palette :nth-child( 2 ) {
  background-color: red;
  color: red;
  border: solid 1px black;
  display: inline-block;
  height: 75px;
  width: 75px;
}

#color-palette :nth-child( 3 ) {
  background-color: blue;
  color: blue;
  border: solid 1px black;
  display: inline-block;
  height: 75px;
  width: 75px;
}

#color-palette :nth-child( 4 ) {
  background-color: green;
  color: green;
  border: solid 1px black;
  display: inline-block;
  height: 75px;
  width: 75px;
}

.pixel {
  background-color: white;
  width: 40px;
  height: 40px;
  display: inline-block;
  border: 1px solid black;
}

#pixel-board {
  margin: 10px;
}

#table {
  margin-left: 530px;
}

#clear-board {
  margin-left: 620px;
  padding: 10px;
  margin-top: 10px;
}
