#title {
  font-family: monospace;
  margin: 0;
  margin-bottom: 10px;
}

.color:nth-of-type( 1 ) {
  border: 1px solid black;
  height: 30px;
  width: 30px;
  background-color: black;
}

.selected {
  background-color: black;
}

.color:nth-of-type( 2 ) {
  border: 1px solid black;
  height: 30px;
  width: 30px;
  background-color: yellow;
}

.color:nth-of-type( 3 ) {
  border: 1px solid black;
  height: 30px;
  width: 30px;
  background-color: red;
}

.color:nth-of-type( 4 ) {
  border: 1px solid black;
  height: 30px;
  width: 30px;
  background-color: orange;
}

#color-palette div {
  display: inline-block;
  margin: 2.5px;
}

.pixel {
  width: 40px;
  height: 40px;
  display: inline-block;
  background-color: white;
  border: 1px solid black;
}
