.color {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: solid 1px black;
}
#black {
  background-color: black;
}
#blue {
  background-color: blue;
}
#red {
  background-color: red;
}
#yellow {
  background-color: yellow;
}
#white {
  background-color: white;
}
#pixel-board {
  display: table;
}
.line{ 
  display: table-row;
}
.pixel{ 
  display: table-cell; 
  width: 40px;
  height: 40px;
  border: solid 1px black;
}

