.color {
	border: solid;
	border-width: 1px;
	border-color: black;    
	width:40px;
	height:40px;
	display: inline-block;
	margin-left: 5px;
}

#black {
  background-color:  black;
}

#blue {
  background-color:  blue;
}

#red {
  background-color:  red;
}

#yellow {
  background-color: yellow;
}

#pixel-board .pixel {
	width: 40px;
	height: 40px;
	border: black solid 1px;
	display: inline-block;
	margin: 1px;
}

