.color {
  height: 50px;
  width: 50px;
  border: solid;
  border-width: 1px;
  border-color: black;
  display: inline-block;
  margin-right: 0.5%;
}

#black {
  background-color: black;
}

#green {
  background-color: green;
}

#red {
  background-color: red;
}

#blue {
  background-color: blue;
}

#pixel-board {
  margin-top: 20px;
  width: 300px;
  height: 250px;
}

#pixel-row {
  border-collapse: collapse;
  border-spacing: 0;
}

.pixel {
  display: inline-block;
  height: 40px;
  width: 40px;
  border: solid;
  border-width: 1px;
  border-color: black;
  background-color: white;
}

.selected .color {
  height: 50px;
  width: 50px;
  border: solid;
  border-width: 1px;
  border-color: black;
  display: inline-block;
  margin-right: 0.5%
}

#clear-board {
  vertical-align: auto;
}