.color {
  display: inline-block;
  border: 1px solid;
  width: 50px;
  height: 50px;
  margin-right: 5px;
}

#pixel-board {
  margin: 0;
  padding: 0;
  border: 1px solid;
  border-spacing: 0;
}

.pixel {
  border: 1px solid;
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: white;
}

button , input {
  margin: 10px 5px;
}
