.color {
    display: inline-block;
    border: 5px solid;
    width: 50px;
    height: 50px;
    margin-right: 5px;
}

#board-content{
    margin: 0;
    padding: 0;
    border-spacing: 0px;
}


.pixel{
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 1px solid;
    background-color: coral;
}
