body {
  margin: auto;
  max-width: 1366px;
  max-height: 768px;
  width: 90%;
  text-align: center;
}

#color-palette #pixel-board {
  width: auto;
}

.color {
  display: inline-block;
  border: 1px solid black;
  width: 40px;
  height: 40px;
}

.color:nth-of-type( 1 ) {
  background-color: black;
}

.color:nth-of-type( 2 ) {
  background-color: red;
}

.color:nth-of-type( 3 ) {
  background-color: blue;
}

.color:nth-of-type( 4 ) {
  background-color: green;
}

.table {
  display: table;
  margin: auto;
  width: auto;
}

.tr {
  display: table-row;
  margin: auto;
}

.pixel {
  width: 40px;
  height: 40px;
  margin: auto;
  background-color: white;
  border: 1px solid black;
  display: table-cell;
}

#clear-board {
  width: 60px;
  height: 30px;
  background-color: green;
  color: white;
  font-weight: 700;
  margin: auto;

}

/*
.black:hover {
  background-color: black;
}

.red:hover {
  background-color: red;
}

.blue:hover {
  background-color: blue;
}

.green:hover {
  background-color: green;
}

.black {
  background-color: black;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}
*/
