.color {
  border: solid 1px black;
  width: 40px;
  height: 40px;
  display: inline-block;
  margin: 3px;
  margin-top: 20px;
  margin-left: 10px;
}

p {
  display: inline;
  margin: 5px;
}

.color1 {
  background-color: black;
}

.color2 {
  background-color: blueviolet;
}

.color3 {
  background-color: yellow;
}

.color4 {
  background-color: green;
}

.pixel {
  background-color: white;
  width: 40px;
  height: 40px;
  border: solid 1px black;
}
