body {
  background-color: #f6f6f6;
  font-family: Roboto, sans-serif;
  margin-left: 100px;
}

#title {
  font-size: 62px;
  color: #5f5f5f;
  font-family: Pacifico, cursive;
  font-style: italic;
  font-weight: 500;
  margin-bottom: 0;
}

#color-palette {
  height: 42px;
  margin-bottom: 15px;
}

#size-input {
  margin-bottom: 15px;
}

.button {
  font-size: 16px;
  font-weight: 700;
  padding: 10px 30px;
  border: none;
  background-color: #525252;
  color: whitesmoke;
  border-radius: 8px;
}

#board-size {
  border-radius: 8px;
  border: none;
  font-size: 16px;
  font-weight: 700;
  width: 80px;
  padding: 10px 5px;
  outline: none;
  text-align: center;
  color: #4e4e4e;
  background-color: #dfdfdf;
}

::placeholder {
  color: #979797;
}

input::-webkit-outer-spin-button , input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.color {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid black;
  margin-right: 5px;
  border-radius: 15px;
}

#pixel-board {
  border-spacing: 0;
}

.pixel {
  display: inline-block;
  background-color: white;
  width: 40px;
  height: 40px;
  border: 1px solid black;
}

#clear-board {
  margin-bottom: 15px;
}
