body {
  margin : 0 auto;
  padding: 0;
  width: 1366px;
  height: 768px;
  background-color: rgb(110, 133, 110);
}

#palette {
  text-align: center;
  width: 300px;
  margin: 10px auto;
}

.color {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 5px;
  border: 1px solid black;
  display: inline-block;
}

#black {
  background-color: black;
}

#pixel-board {
  display: table;
  margin: 10px auto;
}

.tr {
  display: table-row;
}

.pixel {
  display: table-cell;
  background-color: white;
  width: 40px;
  height: 42px;
  border: 1px solid black;
}

#cofigPixelBord {
  width: 500px;
  margin: 5px auto;
  text-align: center;
}

#clear-board {
  width: 90px;
  font-size: 20px;
  text-align: center;
}

#board-size {
  width: 45px;
  margin-left: 40px;
}
