body {
  font-family: sans-serif;
  text-align: center;
}

.color {
  width: 45px;
  height: 45px;
  border: 1px solid black;
  display: inline-block;
  margin: 1px;
  margin-bottom: 10px;
  border-radius: 2px;
}

#black {
  background-color: black;
}

#red {
  background-color: red;
}

#green {
  background-color: green;
}

#blue {
  background-color: blue;
}


/* Requisito 5 */
.pixel {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  background-color: white;
  display: inline-block;
  border-radius: 2px;
}