h1 {
  text-align: center;
}

.color {
  border: 1px solid black;
  height: 40px;
  width: 40px;
  display: inline-block;
  margin: 5px;
}

.pixel {
  border: 1px solid black;
  height: 40px;
  width: 40px;
  background-color: white;
}
