body {
  background-color: white;
}

.main {
  background-color: white;
  text-align: center;
  margin: 0 auto;
}

.palette-table {
  display: inline;
}

.palette-table div {
  display: inline;
}

.palette-table div div {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: solid 1px black;
}

#pixel-board {
  display: table;
  background-color: white;
  margin: 15px auto;
}

.pixel {
  min-width: 40px;
  min-height: 40px;
  width: 40px;
  height: 40px;
  background-color: white;
  border: solid 1px black;
}

.tr {
  display: table-row;
}

.td {
  display: table-cell;
}

.corInicio {
  background-color: black;
}

.btn-section {
  margin: 15px auto;
}

#board-size {
  text-align: center;
}
