* {
  font-family: 'Handlee';
}

#title {
  font-size: 45px;
  font-weight: bolder;
}

#color-palette {
  box-sizing: border-box;
  border-spacing: 0;
  margin-left: 10px;
}

#color1 {
  height: 40px;
  width: 40px;
   box-sizing: border-box;
  display: inline-block;
  border-style: solid;
  border-width: 1px;
}

#color2 {
  height: 40px;
  width: 40px;
  box-sizing: border-box;
  display: inline-block;
  border-style: solid;
  border-width: 1px;
}

#color3 {
  height: 40px;
  width: 40px;
  box-sizing: border-box;
  display: inline-block;
  border-style: solid;
  border-width: 1px;
}

#color4 {
  height: 40px;
  width: 40px;
  box-sizing: border-box;
  display: inline-block;
  border-style: solid;
  border-width: 1px;
}

#pixel-board {
  display: flex;
  margin: auto;
}

.pixel {
  display: table;
  box-sizing: border-box;
  height: 40px;
  width: 40px;
  background-color: white;
  border: 1px solid black;
}

.button {
  font-size: 15px;
  font-weight: bolder;
  margin-left: 70px;
}
