#color-palette {
  display: table;
  margin-top: 50px;
  margin-bottom: 50px;
}

.color-palette-tr {
  display: table-row;
}

.color {
  display: table-cell;
  border: 1px solid black;
  height: 25px;
  width: 25px;
}

#black {
  background-color: black;
}

#red {
  background-color: red;
}

#green {
  background-color: green;
}

#blue {
  background-color: blue;
}

#board-size {
  width: 40px;
}

#pixel-board {
  display: table;
  margin-top: 20px;
}

.pixel-board-tr {
  display: table-row;
}

.pixel {
  display: table-cell;
  border: 1px solid black;
  max-height: 50px;
  height: 40px;
  max-width: 50px;
  width: 40px;
  background-color: white;
}
