.color {
  border: 1px solid black;
  display: inline-block;
  width: 45px;
  height: 45px;
  margin-bottom: 5px;
}

.board {
  width: 230px;
  margin: auto;
  margin-top: 20px;
}

.pixel {
  border: 1px solid black;
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: white;
  margin-top: -4px;
  margin-left: -4px;
}

#black {
  background-color: black;
}

#blue {
  background-color: blue;
}

#red {
  background-color: red;
}

#green {
  background-color: green;
}

body {
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  background-color: pink;
}
