#title {
  font-family: monospace;
}

.black {
  background-color: black;
  border: 1px solid black;
  color: black;
  display: inline-block;
  width: 60px;
  height: 60px;
}

.pixel-board {
  border: 1px solid black;
  display: inline-block;
  margin-left: 5%;
  margin-top: 5%;
  padding: 2px;
}

.pixel {
  border: 1px solid;
  background-color: white;
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 1px;
}