* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.color {
  border: 1px solid black;
  width: 40px;
  height: 40px;
  display: inline-block;
}

.black {
  background-color: black;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.pixel-board {
  display: table;
  width: 200px;
  height: 200px;
}

.tr {
  display: table-row;
}

.td {
  display: table-cell;
}

.pixel {
  border: 1px solid black;
  width: 40px;
  height: 40px;
  background-color: white;
}

.selected {
  background-color: black;
}

#clear-board {
  display: block;
}
