#color-palette {
  padding: 60px;
  width: 350px;
}

#title {
  color: rgb(139, 139, 139);
  font-family: monospace;
  text-align: center;
}

#black {
  background-color: black;
  width: 50px;
  height: 50px;
  margin-left: 10px;
  float: left;
}

#blue {
  background-color: blue;
  width: 50px;
  height: 50px;
  margin-left: 10px;
  float: left;
}

#orangered {
  background-color: orangered;
  width: 50px;
  height: 50px;
  margin-left: 10px;
  float: left;
}

#green {
  background-color: green;
  width: 50px;
  height: 50px;
  margin-left: 10px;
  float: left;
}

.container {
  width: 70%;
  border: 7px dotted rgb(0, 191, 255);
  margin: auto;
  text-align: center;
  padding: 10px;
  background-color: rgb(255, 255, 205);
}

.td {
  display: table-row;
}

.pixel {
  height: 40px;
  width: 40px;
  display: table-cell;
  border: 1px solid black;
  background-color: rgb(255, 255, 255);
}

.color {
  border: 1px solid black;
}
