*{
    box-sizing: border-box;
}

ul{
    padding: 0;
    margin: 5px;
    display: flex;
}

ul li{
    list-style: none;
    cursor: pointer;
}

.color{
    border: 1px solid black;
    width: 40px;
    height: 40px;
}

#black{
    background-color: black;
}

#red{
    background-color: red;
}

#blue{
    background-color: blue;
}

#green{
    background-color: green;
}

#pixel-board{
border-collapse: collapse;
}

.pixel{
    border: 1px solid black;
    width: 40px;
    height: 40px;
    background-color: white;
    cursor: pointer;
}

#generate-board{

}

#board-size{
    /* margin-left: 5px;
    margin-right: 15px; */
}

#numOfBlocks{
   
}