* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  margin: 1% 3%;
  text-align: center;
}

h1 {
  font-size: 40px;
  font-family: Courier New, sans-serif;
  letter-spacing: 0.5px;
  margin-bottom: 20px;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
}

li {
  list-style: none;
  background-color: black;
  height: 50px;
  width: 50px;
  margin-right: 10px;
  border: 1px solid black;
}

li:nth-child( 1 ) {
  background-color: black;
}

table {
  margin-left: 0.5%;
  display: table;
  margin: 30px auto;
}

tr {
  display: table-row;
}

td {
  display: table-cell;
  width: 40px;
  height: 40px;
  border: 1px solid black;
  background-color: white;
}

button {
  margin-top: 10px;
  width: 100px;
  height: 30px;
  background-color: rgb(213, 213, 213);
  font-family: Courier New, sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.8px;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.5);
  transition: box-shadow 400ms;
}

button:focus {
  outline: none;
}

input {
  width: 110px;
  height: 30px;
  font-size: 16px;
  font-weight: 600;
  font-family: Courier New, Courier, monospace;
  padding-left: 5px;
}

input:focus {
  outline: none;
}
