body {
  margin: 15px;
}

#color-palette {
  box-sizing:border-box;
  display:flex;
  justify-content: center;
  margin-bottom: 12px;
}

.color {
  height: 40px;
  pointer-events: painted;
  position: relative;
  size: 75px;
  width: 40px;
  display: inline-block;
  border: solid 1px black;
  margin: 2px;
}

.btn{

  text-align: center;

  padding: 20px;

}


#pixel-board {
  margin: 0 auto;
  text-align: center;
  line-height: 0px;
  
}
  


.pixel {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid black;
  background-color: white;
  cursor: pointer;
  } 
 

  button{
    border: 0;
    background-color:darkgray;
    width: 60px;
    height: 20px;
    cursor: pointer;
  
  }
   
 