.color {
  display: inline-block;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  width: 50px;
  height: 50px;
  margin: 5px;
}
#pixel-board {
  max-width: 250px;
  font-size: 0px;
}
.pixel {
  border-width: 1px;
  border-color: black;
  border-style: solid;
  width: 40px;
  height: 40px;
  margin: 0px;
  background-color: white;
  display: inline-block;
}
#clear-board {
  margin-bottom: 5px;
}