.color {
  border: 1px solid black;
  display: inline-block;
  width: 50px;
  height: 50px;
}

#title {
  text-align: center;
}

#color-palette {
  text-align: center;
}

#clear-board {
  text-align: center;
}

.pixel {
  background-color: white;
  border: 1px solid black;
  display: inline-block;
  height: 40px;
  width: 40px;
}

#pixel-board {
  margin: 0;
  text-align: center;
}

.todos-botoes {
  text-align: center;
}

