* {
  padding: 0;
  margin: 0;
}

/* .input-colors {
  display: none;
} */

#primary-color , #second-color , #third-color , #fourth-color {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: solid 1px black;
}

.pixel {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: solid 1px black;
  background-color: white;
}

#primary-color {
  background-color: black;
}

#second-color {
  background-color: red;
}

#third-color {
  background-color: blue;
}

#fourth-color {
  background-color: green;
}
