body {  
  text-align: center;
}
#color-palette {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
#pixel-board {
  margin-top: 10px;
  display: inline-block;
  justify-content: center;
}
.color {
  width: 40px;
  height: 40px; 
  margin: 5px;
  border: 1px solid black;
  display: inline-block;
}
.pixel {
  width: 40px;
  height: 40px; 
  margin: 5px;
  display: inline-block;
  border: 1px solid black;
  background-color: white;
}
#clear-board {
  text-align: center;
  align-items: center;
}